.favorites__container {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  background-image: url('https://cdn.pixabay.com/photo/2016/11/12/11/51/forest-1818690_960_720.jpg');
  background-size: cover;
}

.favorites__container:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FAF1D5;
  opacity: 0.7;
}

.favorites__images {
  position: relative;
  margin: 100px 200px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
}

.item__image {
  place-self: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.item__image img{
  width: 300px;
}