.viewer__container {
  position: relative;
  background-image: url('https://cdn.pixabay.com/photo/2016/11/12/11/51/forest-1818690_960_720.jpg');
  background-size: cover;
  width: 100%;
  height: 900px;
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.viewer__container:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #FAF1D5;
  opacity: 0.7;
}

.viewer__image img {
  position: relative;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.button__container{
  position: relative;
  width: 500px;
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.button{
  padding: 15px;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2b0548;
  border-radius: 6px;
  border: 2px solid #665738;
}
.button:hover{
  color: #2b0548;
  background-color: #ffffff;
}

@media screen and (max-width: 425px) {
  .viewer__image img {
    width: 280px;
  }
  .button__container {
    padding-top: 20px;
    width: 400px;
  }
  .button {
    padding: 13px;
    font-size: 14px;
  }
}